/************************************TAG SELECTORS*****************************************************************************/
h1 {
    color : red;
    font-size: 50px;
}


img:hover {
    background-color: yellow;
}  

/************************************ID SELECTORS*****************************************************************************/

#heading {
    color: blue;
}
/***********************************CLASS SELECTORS*****************************************************************************/
.paneer 
{
    background-color: red;
}
.brocoli
{
    background-color: green;
}
.circular{
    border-radius: 100%;
}